# Exercise 1

### Step 1. Use the csv file and assign it to a dataframe called "dmdata"

In [1]:
import pandas as pd
import numpy as np

In [2]:
dmdata = pd.read_csv('Demographic-Data.csv')

### Step 2. See the first 5 entries

In [3]:
dmdata.head(5)

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

### Step 3. What is the number of observations in the dataset?

In [4]:
dmdata.shape

(195, 5)

In [5]:

dmdata.shape[0] #Reading the observations/rows number

195

### Step 4. What is the number of columns in the dataset?

In [6]:
dmdata.shape[1]

5

### Step 5. Print the name of all the columns.

In [7]:
dmdata.columns

Index(['Country Name', 'Country Code', 'Birth rate', 'Internet users',
       'Income Group'],
      dtype='object')

### Step 6. What is the name of 3rd column?

In [8]:
dmdata.columns[2]

'Birth rate'

### Step 7. How is the dataset indexed?

In [12]:
dmdata.index

RangeIndex(start=0, stop=195, step=1)

### Step 8. What is the name of the 11th observation?

In [10]:
dmdata.values[10]

array(['Azerbaijan', 'AZE', 18.3, 58.7, 'Upper middle income'],
      dtype=object)